___
# Ciência dos Dados - PROJETO 1

### Victor Arruda Niubó e Bruno Morales Balkins

## Perfil das mulheres como chefes de família:

___
## Introdução


Nesse projeto irei analisar o perfil de mulheres no papel de chefes de família, para isso escolhi as seguintes variáveis do banco de dados:
    - V0302: Sexo.
    - V8005: Idade.
    - V4723: Tipo de família para todas as unidades domiciliares.
    - V4704: Condição de atividade na semana de referência para pessoas de 10 anos ou mais de idade.
    - V4805: Condição de ocupação na semana de referência para pessoas de 10 anos ou mais de idade.
    - V4706: Posição na ocupação no trabalho principal da semana de referência para pessoas de 10 anos ou mais de 
    idade.

___
## Filtros da base de dados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [5]:
dados = pd.read_csv('PES2015.csv',sep=',')

In [8]:
#Filtro de dados:

dados_filtrados = dados.loc[(dados.V0302)|(dados.V8005)|(dados.V4723)|(dados.V4704)|(dados.V4805)|(dados.V4706), \
          ['V0302','V8005','V4723','V4704','V4805','V4706']]

#Mudando nomes das colunas:

dados_filtrados.rename(columns={'V0302':'Sexo','V8005':'Idade','V4723':'Tipo de família',\
                                'V4704':'Atividade na semana','V4805':'Ocupação na semana',\
                                'V4706':'Posição no Trabalho'}, inplace=True)
dados_filtrados

,Sexo,Idade,Tipo de família,Atividade na semana,Ocupação na semana,Posição no Trabalho
0,2,23,10,1.0,1.0,4.0
1,4,23,10,1.0,1.0,1.0
2,4,35,2,1.0,1.0,4.0
3,2,34,2,1.0,1.0,10.0
4,4,11,2,2.0,NaN,NaN
5,4,7,2,NaN,NaN,NaN
6,4,4,2,NaN,NaN,NaN
7,4,18,2,1.0,1.0,1.0
8,2,46,10,1.0,1.0,9.0
9,4,81,10,2.0,NaN,NaN
10,4,71,10,2.0,NaN,NaN
11,4,47,7,1.0,1.0,7.0
12,2,24,7,1.0,2.0,NaN
13,4,28,2,2.0,NaN,NaN
14,2,50,2,1.0,1.0,9.0
15,2,1,2,NaN,NaN,NaN
16,4,34,4,1.0,1.0,1.0
17,2,35,4,1.0,1.0,1.0
18,2,16,4,1.0,1.0,4.0
19,4,11,4,2.0,NaN,NaN
20,4,3,4,NaN,NaN,NaN
21,2,57,3,1.0,1.0,3.0
22,4,51,3,1.0,1.0,10.0
23,2,16,3,2.0,NaN,NaN
24,4,60,10,1.0,1.0,3.0
25,4,50,7,1.0,1.0,3.0
26,4,30,7,1.0,1.0,1.0
27,2,26,2,1.0,1.0,1.0
28,4,20,2,1.0,1.0,1.0
29,4,1,2,NaN,NaN,NaN
...,...,...,...,...,...,...
356874,2,15,7,1.0,1.0,9.0
356875,2,54,3,2.0,NaN,NaN
356876,4,47,3,1.0,1.0,9.0
356877,4,24,3,2.0,NaN,NaN
356878,2,22,3,1.0,2.0,NaN
356879,2,20,3,1.0,2.0,NaN
356880,4,28,3,1.0,1.0,7.0
356881,2,30,2,1.0,1.0,1.0
356882,4,31,2,2.0,NaN,NaN
356883,2,9,2,NaN,NaN,NaN
356884,4,4,2,NaN,NaN,NaN
356885,2,32,2,1.0,1.0,1.0
356886,4,30,2,1.0,1.0,1.0
356887,4,4,2,NaN,NaN,NaN
356888,2,1,2,NaN,NaN,NaN
356889,4,34,6,2.0,NaN,NaN
356890,4,9,6,NaN,NaN,NaN
356891,2,6,6,NaN,NaN,NaN
356892,2,5,6,NaN,NaN,NaN
356893,2,2,6,NaN,NaN,NaN
356894,4,57,7,2.0,NaN,NaN
356895,4,36,7,1.0,1.0,1.0
356896,4,18,7,1.0,1.0,1.0
356897,2,57,10,1.0,1.0,9.0
356898,4,33,10,2.0,NaN,NaN
356899,2,38,4,1.0,1.0,7.0
356900,4,39,4,2.0,NaN,NaN
356901,4,17,4,1.0,1.0,4.0
356902,4,15,4,2.0,NaN,NaN
356903,4,7,4,NaN,NaN,NaN

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!